@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: .5s;
    font-family: "DM Serif Display", serif;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    background: #EDF3F8;
}

.nav__bar{
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    display: flex;
    align-items: center;
    gap: 25px;
}

.list__link{
    font-family: Arial, Helvetica, sans-serif;
    color: #36536B;
    font-weight: 500;
}

.btn{
    padding: 8px 15px;
    background: #BA4270;
    box-shadow: 10px 10px 25px -10px #36536B40;
    color: white;
    border-radius: 24px;
}

.header__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    max-width: 546px;
    font-size: 72px;
    font-weight: 400;
    color: #36536B;
    letter-spacing: -0.55px;
}

.main{
    padding: 30px 0;
}

.implement{
    display: flex;
    align-items: center;
    gap: 25px;
}

.implement__info{
    min-width: 445px;
}

.implement__info h2{
    font-size: 48px;
    line-height: 56px;
    color: #36536B;
    letter-spacing: -0.37px;
    font-weight: 400;
    margin-bottom: 15px;
}

.implement__info p{
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.banking{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
}

.item:hover{
    box-shadow: 2px 5px 15px rgb(69, 68, 68);
}

.footer{
    padding: 25px 0;
    background-color: black;
}

.footer__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__list{
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer__list{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.messangers{
    display: flex;
    align-items: center;
    gap: 20px;
}

.messangers a>i{
    font-size: 24px;
    color: white;
}

@media(max-width: 1100px) {
    .implement img{
        width: 50%;
    }
    .implement__info{
        width: 440px;
    }
}

@media(max-width: 1000px){
    .title{
        font-size: 60px;
    }

    .header__info img{
        width: 45%;
    }

    .item{
        width: 250px;
    }

    .implement__info h2{
        font-size: 38px;
    }
}

@media(max-width: 780px){
    .banking{
        justify-content: space-evenly;
    }

    .title{
        font-size: 48px;
    }

    .implement__info h2{
        font-size: 28px;
    }

    .implement__info p{
        font-size: 14px;
    }

    .implement{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .implement img{
        width: 100%;
    }

    .implement__info{
        width: 100%;
    }
}

@media(max-width: 680px){
    .header__info{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}

@media(max-width: 557px){
    .title{
        font-size: 40px;
    }
}